*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

#margin1{
    width: 80%;
    margin: 20px auto;
}

/*Retícula de 12 columnas*/
.row{
    overflow: hidden;
}
.col{
    float: left;
    margin-right: 1%;
    
    height: 20px;
    background: #ededed;
    margin-top: 1%;
}
.col:last-child{
    margin-right: 0;
}

.col-1{  /*  (100%-9%)= 91% / 10 = 9.1% */
    width: 9.1%;
}
.col-2{ /*  (col-1+margin-right) + col1 */
    width: 19.2%;
}
.col-3{ /*(col-1+margin-right) + (col-1+margin-right) + col1 */
    width: 29.3%;
}
.col-4{ 
    width: 39.4%;
}
.col-5{ 
    width: 49.5%;
}
.col-6{
    width: 59.6%;
}
.col-7{
    width: 69.7%;
}
.col-8{
    width: 79.8%;
}
.col-9{
    width: 89.9%;
}
.col-10{
    width: 100%;
}


@media (max-width:600px){
   .col{
        width: 100%;
    }
}
