
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 12px;/*Por defecto son 16px*/
}
section{
    background: #ddd;
    font-size: 1em;/* 12px (font-size del body) */
    padding: 2em;/* 12px*2=24px */
}
h2{
    margin-top: 2em;
}
.em{
    font-size: 3em;/* 12px*3=36px */
    padding: 1em;/* 36px */
}
.px{
    font-size: 16px;
    padding: 16px;
}
.porc{
    font-size: 100%;/* 12px */
    width: 50%;/* Medio navegador */
}

