*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 1.2em/1.5 sans-serif;
}
a{
    text-decoration: none;
}
#contenido{
    right: 0;
    position: relative;

    -webkit-transition: all .3s;
}
header{
    background: #000;
    color:#fff;
    padding: 20px 5%;
    width: 100%;
    top:0;
    overflow: hidden;
}
header h1{
    font-weight: lighter;
    line-height: 50px;
    float: right;
}
header h1 span{
    color:#F44336;
}
#btn_menu{
    width: 50px;
    height: 50px;
    background: url(icon-menu.png) no-repeat center;
    background-size: 20px;
    float: right;
    cursor: pointer;
}
nav{
    padding-left: 10%;
    background: #444;
    position: fixed;
    width: 100%;
    top:90px;
}
nav li{
    float: left;
    padding: 10px 20px 10px 0;
}
nav li a{
    color: #fff;
    font-size: .8em;
    line-height: 50px;
}
nav ul li a:hover{
    color: #e60082;
}

main{
    width: 80%;
    margin: 0 auto;
    padding: 180px 0;
}

/*Menu principal*/
#mascara{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    display:none;
    z-index: 500;

    -webkit-transition: all .3s;
}
#menu{
    right: -250px;
    width: 250px;
    background: #fff;
    position: fixed;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.5);
    z-index: 999;

    -webkit-transition: all .3s;
}
#menu .cabecera{
    padding: 24px;
    text-transform: uppercase;
    letter-spacing: -2px;
    border-bottom: 1px solid rgba(0,0,0,.3)
}
#menu ul{
    padding-top: 25px;
}
#menu li{
    padding: 10px 24px;
    list-style: none;
}
#menu a{
    font-size: .8em;
    font-weight: bold;
    color: #000;
}