@media (max-width: 800px){
    .wrap{
        width: 85%;
    }
}

@media (max-width: 700px) and (min-width: 400px){
    body{
        background: #ff6347;
        color: #fff;
    }
}

@media (max-width: 399){
    body{
        background: #20b2aa;
    }
    .wrap{
        width: 90%;
    }
}